

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534353858814542944.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534353858814542944.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534353858814542944.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534353858814542944.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534353858814542944.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534353858814542944.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534353858814542944.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534353858814542944.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534353858814542944.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534353858814542944.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534353858814542944.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-534353858814542944.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-534353858814542944.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534353858814542944.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534353858814542944.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534353858814542944.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534353858814542944.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534353858814542944.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534353858814542944.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534353858814542944.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534353858814542944.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534353858814542944.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534353858814542944.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534353858814542944.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534353858814542944.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-534353858814542944.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534353858814542944.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534353858814542944.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534353858814542944.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534353858814542944.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534353858814542944.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534353858814542944.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534353858814542944.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534353858814542944.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-534353858814542944.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534353858814542944.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-534353858814542944.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534353858814542944.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534353858814542944.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-534353858814542944.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-534353858814542944.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-534353858814542944.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-534353858814542944.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534353858814542944.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-534353858814542944.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-534353858814542944.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534353858814542944.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534353858814542944.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-534353858814542944.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-534353858814542944.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-534353858814542944.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534353858814542944.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534353858814542944.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-534353858814542944.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-534353858814542944.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534353858814542944.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534353858814542944.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-534353858814542944.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-534353858814542944.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-534353858814542944.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534353858814542944.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534353858814542944.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-534353858814542944.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-534353858814542944.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534353858814542944.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534353858814542944 .-gp-translate-x-1\/2,.gps-534353858814542944 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-534353858814542944 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-534353858814542944 .gp-absolute{position:absolute}.gps-534353858814542944 .gp-relative{position:relative}.gps-534353858814542944 .gp-left-0{left:0}.gps-534353858814542944 .gp-left-1\/2{left:50%}.gps-534353858814542944 .gp-top-0{top:0}.gps-534353858814542944 .gp-top-1\/2{top:50%}.gps-534353858814542944 .gp-z-1{z-index:1}.gps-534353858814542944 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534353858814542944 .gp-mb-0{margin-bottom:0}.gps-534353858814542944 .gp-flex{display:flex}.gps-534353858814542944 .gp-grid{display:grid}.gps-534353858814542944 .gp-contents{display:contents}.gps-534353858814542944 .\!gp-hidden{display:none!important}.gps-534353858814542944 .gp-hidden{display:none}.gps-534353858814542944 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-534353858814542944 .gp-h-full{height:100%}.gps-534353858814542944 .gp-w-14{width:56px}.gps-534353858814542944 .gp-w-5{width:20px}.gps-534353858814542944 .gp-w-full{width:100%}.gps-534353858814542944 .gp-max-w-full{max-width:100%}.gps-534353858814542944 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-534353858814542944 .-gp-translate-x-1\/2,.gps-534353858814542944 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-534353858814542944 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-534353858814542944 .gp-flex-col{flex-direction:column}.gps-534353858814542944 .gp-items-center{align-items:center}.gps-534353858814542944 .\!gp-justify-center{justify-content:center!important}.gps-534353858814542944 .gp-justify-center{justify-content:center}.gps-534353858814542944 .gp-gap-y-0{row-gap:0}.gps-534353858814542944 .gp-overflow-hidden{overflow:hidden}.gps-534353858814542944 .gp-rounded{border-radius:4px}.gps-534353858814542944 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-534353858814542944 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-534353858814542944 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-534353858814542944 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534353858814542944 .gp-duration-200{transition-duration:.2s}.gps-534353858814542944 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-534353858814542944 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-534353858814542944 .tablet\:gp-relative{position:relative}.gps-534353858814542944 .tablet\:\!gp-hidden{display:none!important}.gps-534353858814542944 .tablet\:gp-hidden{display:none}.gps-534353858814542944 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-534353858814542944 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-534353858814542944 .mobile\:gp-relative{position:relative}.gps-534353858814542944 .mobile\:\!gp-hidden{display:none!important}.gps-534353858814542944 .mobile\:gp-hidden{display:none}.gps-534353858814542944 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-534353858814542944 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-534353858814542944 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-534353858814542944 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-534353858814542944 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534353858814542944 .\[\&_p\]\:gp-inline p{display:inline}.gps-534353858814542944 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534353858814542944 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gEa_8v1P5B" data-id="gEa_8v1P5B"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEa_8v1P5B gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5AutHQzM8 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g3GxDPiw47" data-id="g3GxDPiw47"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3GxDPiw47 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghRSOynM1D gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mb:var(--g-s-l)">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"type":"video","color":"bg-2","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/5b93ff44052243a3a8436f6403279564.mp4","videoType":"html5","loop":true,"lazyLoad":false},"tablet":{"type":"video","color":"bg-2","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/5b93ff44052243a3a8436f6403279564.mp4","videoType":"html5","loop":true,"lazyLoad":false},"mobile":{"type":"video","color":"bg-2","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/5b93ff44052243a3a8436f6403279564.mp4","videoType":"html5","loop":true,"lazyLoad":false}},"uid":"gdLCrPKSJk","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        
        class="gdLCrPKSJk gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:16/9;--aspect-tablet:16/9;--aspect-mobile:auto"
        data-id="gdLCrPKSJk"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:16/9;--aspect-tablet:16/9;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('');--bgi-tablet:url('');--bgi-mobile:url('');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
              
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gdLCrPKSJk"
      class=" gp-w-full gp-relative  lazy gp-object-cover"
      style="--aspect:16/9;--aspect-mobile:auto"
      
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src=""
      src=""
      poster=""
      playsinline
    >
    
  </video>
    <div
          style="--aspect:16/9;--aspect-mobile:auto"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
   </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center;--d-mobile:none"
      class="gHV7Gu8iBT gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <div
    
     data-id="grxyyNPnqM"
    role="presentation"
    class="gp-group/image grxyyNPnqM"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534352163778855690-19c99b87-96a2-4295-bba9-029c222e9561_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzgzIiBoZWlnaHQ9IjM4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzgzLTM4NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzgzIiBoZWlnaHQ9IjM4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzgzIiBoZWlnaHQ9IjM4NCIgZmlsbD0idXJsKCNnLTM4My0zODQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zODMiIHRvPSIzODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_534352163778855690-19c99b87-96a2-4295-bba9-029c222e9561_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzgzIiBoZWlnaHQ9IjM4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzgzLTM4NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzgzIiBoZWlnaHQ9IjM4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzgzIiBoZWlnaHQ9IjM4NCIgZmlsbD0idXJsKCNnLTM4My0zODQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zODMiIHRvPSIzODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzgzIiBoZWlnaHQ9IjM4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzgzLTM4NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzgzIiBoZWlnaHQ9IjM4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzgzIiBoZWlnaHQ9IjM4NCIgZmlsbD0idXJsKCNnLTM4My0zODQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zODMiIHRvPSIzODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_534352163778855690-19c99b87-96a2-4295-bba9-029c222e9561.png" | file_url }}"
        width="100%"
        alt=""
        style="--objf:cover;--w:35%;--w-tablet:35%;--w-mobile:75%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJ3dk85dFL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJ3dk85dFL "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml-mobile:10px;--mr-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJ3dk85dFL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-534353858814542944 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/forceflex/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534353858730656864&sectionId=534353858814542944)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJ3dk85dFL_text","label":"ggJ3dk85dFL_text","default":"<p>&nbsp;<br><strong>Forceflex eyewear is incredibly durable, thanks to a patented design that absorbs impact and reduces tension. The frames are meant to bend, twist and spring back to their original shape repeatedly, without deforming or breaking under normal use.</strong><br><br><strong>We back up this bold statement with a limited lifetime warranty.</strong><br><br>&nbsp;</p><p><strong>What the warranty covers</strong><br>All Forceflex eyewear frames are warranted to the original owner for the lifetime of the product against manufacturing defects in materials or workmanship arising under normal use.<br>If your product breaks in these circumstances, we will replace it free of charge. If the exact model you purchased is no longer available, an equivalent replacement will be provided. In short, if your product doesn’t live up to our high quality and performance standards, we’ll make it up to you quickly and easily.<br>* Even eyewear as durable as ours has a reasonable life expectancy. Materials and components eventually degrade until the product can no longer function as intended. A product’s lifetime depends on how it is used and cared for as well as its exposure to the elements rather than its age. So, lifetime of the product doesn’t refer to a set period of time or to the lifetime of the owner.<br><br>&nbsp;</p><p><strong>How to make a claim</strong><br>To make a claim, please email info@forceflexeyewear.com with a copy of your valid proof of purchase from an authorized retailer showing the date and location of purchase, as well as a photo of the product illustrating the defect. If we are unable to evaluate the defect from the photo, you may be asked to return the product to us at your expense.<br>All warranty claims are subject to a case-by-case evaluation by us. If your product is deemed, in our sole discretion, to be defective within its lifetime, it will be eligible for a free replacement.<br><br>&nbsp;</p><p><strong>Limitations and exclusions</strong><br>The warranty covers only manufacturing defects arising during the lifetime of the product and does not cover the following: defects due to normal wear and tear, including scratches or pit marks on lenses; damage caused by accident, abuse, neglect, shock, improper use or storage; damage caused by chemicals (hair spray, cologne, sunscreen, chlorine, window cleaner, alcohol, etc.), damage caused by unauthorized modifications or repairs, loss or theft; or returns for personal reasons unrelated to product quality.<br>The warranty is offered in the United States and Canada only. If you live in another country and are experiencing a Forceflex product issue, please contact us and we’ll try to find a way to help resolve it.<br>Incidental and consequential damages are expressly disclaimed. To the extent permitted by applicable law, any implied warranties are hereby excluded. The warranty provided herein is limited to the value of the product, and your exclusive remedy for a breach of warranty will be the replacement of the product. Some states do not allow certain limitations and exclusions, so the above might not apply to you. This warranty gives you specific legal rights; you may have other rights, which vary from state to state.<br>&nbsp;</p><p><strong>Care instructions</strong><br>Always use both hands to put on and remove eyewear. When not in use, place eyewear in a protective pouch or carrying case and store in a clean, dry area. Clean lenses with a mild soap and soft cloth. Do not use alcohol or solvent cleaning products.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
